{% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %}

{%- capture linklist_array -%}
  {%- for link in linklists.main-menu.links -%}
    {%- unless link.handle == 'home' -%}
      {{- link.handle -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}

<div id="app" data-collection-handles="{{linklist_array}}">${message}</div>