{% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %}

<script type="application/javascript">
const collectionDataJson = [
  {%- for link in linklists.main-menu.links -%}
    {%- unless link.handle == 'home' -%}
    {%- assign collection = collections[link.handle] -%}
      { 
        '{{ link.handle | replace: '-', '_' }}':{
          'title': '{{ link.title}}',
          'handle':'{{ link.handle }}',
          'image': '{{ collection.products.first | img_url: 'large' }}',
          'product_count': {{collection.products_count}}
        }
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endunless -%}
  {%- endfor -%}  
]
</script>

<div id="app">
  <div v-for="data in collectionData">
    <a :href="data[Object.keys(data)].handle">
      <image :src="data[Object.keys(data)].image" />
      <h3 v-html="data[Object.keys(data)].title"></h3>
      <p v-html="data[Object.keys(data)].product_count"></p>
    </a>
  </div>
</div>